/************************************
Mobile/Tablet Friendly
************************************/
@media screen and (max-width: 768px) {

span#backToTop {
	a {
		font-weight: 700;
	}
}

/************************************
	Mobile Menu/Navigation
************************************/
img#hamburger_icon {
	display: block;
	position: relative;
	float: right;
	padding: 0.6em 5% 0px;
	z-index: 20;

	cursor: pointer;
}

div#mobile-navigation {
	position: absolute;
	width: 100%;
	height: auto;
    margin-top: 5.5em;
    padding: 1em 10%;
    z-index: 9;

    background-color: #43a29c;

		ul {
			margin-top: 0.5em;
		
			li {
			    position: relative;
			    width: 80%;
			    margin: 0.5em 0;

			    font-family: 'Josefin Sans', Arial, sans-serif;
			    font-weight: 700;
			    color: #fff;

			    a {
			    	display: block;
			    	padding: 0.6em;
			  		
			  		color: #fff;
			    }

			    a.currentPage {
					color: #43a29c;
					background-color: #fff;
				}

			    ul.subnavigation {
					width: 100%;
					padding: 0;

					li {
						width: 100%;
						padding-left: 5%;

						text-align: left;

						a {
							width: 100%;
						}
					}

					li a:hover {
				  		color: #43a29c;
				  		background-color: #fff;
				  	}
			    }
		  	}

		  	li.submenu {
		  		color: #505050;
		  	}

		  	li.submenu:hover {
				cursor: default; 
		  	}

		  	li.no-submenu {
		  		margin-left: -0.6em;
		  	}

		  	li.no-submenu a:hover {
		  		color: #43a29c;
		  		background-color: #fff;
		  	}

			li.support-li {
				width: 30%;
				margin: 2em auto;

				text-align: center;
			}

			li.support-li:hover {
				background-color: none;

				a {
					color: #872735;
				}
			}

			li:hover {
				cursor: pointer;
			}
		}
	}
    

/************************************
	Header
************************************/
header {
	div#main-navigation {
		display: none;
	}
}	

span#backToTop {
	position: fixed;
	top: 0;
	width: 90%;
}

/************************************
	Homepage
************************************/
div.wrapper {
	div.featured {
		position: relative;
		width: 100%;
		height: auto;
		max-height: 390px;
		overflow: hidden;

		img.hero-image {
			width: 100%;
		}

		div.hero-quote {
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			padding: 0.8em;

			font-style: italic;
			background-color: #c8946d;
			color: #fff;

			p {
				margin: 0;
			}
		}
	}

	div.main-content {
		div.introduction {
			p {
				width: 100%;
				margin-right: 0;
			}

			img {
				display: block;
				width: 80%;
				margin: auto;
			}
		}


		div.site-sections {
			div.block-link {
				width: 70%;
				margin: 2em 15%;

				img {
					width: 80%;
					max-width: none;
				}

				p {
					width: 80%;
					max-width: none;
				}

				div.more-info {
					width: 80%;
					max-width: none;

					p.link-blurb {
						font-size: 1em;
					}
				}
  			}
		}

		div.latest-blogposts {
			width: 85%;
			margin: 3em auto;
			padding: 0;

			ul {
				padding-left: 10%;

				li {
					width: 30%;
				}

				li:nth-of-type(10) {
					display: none;
				}
			}
		}
	}
}

/************************************ 
	2.0   About Page
************************************/
div.wrapper div.main-content {
	div.about-image {
		width: 40%;
	}

	div.about-section {
		width: 80%;

		div.support-button-container {
			a.support_btn {
				width: 30%;
			}
		}
	}
}


/************************************ 
	3.0   Get Involved Page
************************************/
div.wrapper div.main-content {
	div.get-involved-options {
		div.way-to-get-involved {
			a.button {
				float: right;
				width: auto;
				max-width: 40%;
			}
		}
	}
}


/************************************ 
	4.0   Blog Landing Page
************************************/
div.wrapper div.main-content {
	div.blogpost-previews {
		div.post-preview {
			width: 45%;
		}
	}
}

}/*-------------
End Tablet Styles
----------*/


/*--------------------------------------------------------------
## Smaller mobile styles
--------------------------------------------------------------*/
@media only screen and (max-width: 499px) {

	span#backToTop {
		width: 100%;
	}

/************************************
	Homepage
************************************/
	body {
		width: 100%;
	}
	div.wrapper {
		div.featured {
			img.hero-image {
				width: 100%;
			}

			div.hero-quote {
				height: 100%;

				p {
					margin-top: -0.2em;
				}
			}
		}

		div.main-content {
			div.introduction {
				padding: 0px 6%;
			}


			div.site-sections {
				div.block-link {
					width: 80%;
					margin: 20px 10%;
	  			}
			}

			div.latest-blogposts {
				width: 95%;

				h2 {
					padding-left: 3%;
				}

				ul {
					width: 80%;
					margin-left: 18%;
					padding-left: 0;

					li {
						width: 40%;
					}

					li:nth-of-type(10) {
						display: inline;
					}
				}
			}
		}
	}

/************************************ 
	2.0   About Page
************************************/
	div.wrapper div.main-content {
		div.about-image {
			float: none;
			width: 80%;
	    	max-width: none;
	    	margin: 3em auto 0px;
		}

		div.about-section {
			margin-top: 2em;
		}
	}


/************************************ 
	3.0   Get Involved Page
************************************/
	div.wrapper div.main-content {
		div.get-involved-options {
			width: 85%;

			div.way-to-get-involved {
				a.button {
					display: block;
					float: none;
					width: auto;
					max-width: 40%;
					margin: 2em auto;
				}
			}
		}
	}


/************************************ 
	4.0   Blog Landing Page
************************************/
	div.wrapper div.main-content {
		div.blogpost-previews {
			div.post-preview {
				display: block;
				float: none;
				width: 90%;
				height: auto;
				overflow: hidden;
				margin: auto;

				border-bottom: 1px solid #ccc;

				img {
					margin-top: 3em;
				}

				h5 {
					margin-bottom: 3em;
				}
			}

			div.post-preview:first-of-type {
				img {
					margin-top: 0;
				}
			}
		}
	}

}

/*-------------
Tiny Mobile Styles
----------*/

@media only screen and (max-width: 372px) {

	div.wrapper {
		div.featured {
			div.hero-quote {
				height: 100%;

				p {
					font-size: 0.8em;
				}
			}
		}
	}
}

/*-------------
End Mobile Styles
----------*/